# =========================
# Virtual Environment
# =========================
yolo_env/

# =========================
# YOLO Training Outputs
# =========================
runs/

# =========================
# Python Cache Files
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Model Weights (Optional)
# =========================
*.pt
*.pth

# =========================
# System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment Variables
# =========================
.env